body{background-color: #163041; color:#fff;}
.head{height:50px; position: fixed;top:0; left: 0; background-color: #18222b; width:100%; padding:0 30px; z-index:1030;
    box-shadow:3px 3px 3px #18222b;}
.logo{float: left; margin:15px 10px 0 0; font-size: 18px; line-height: 20px; height:50px; color:#00d1ff;}
.head .btn-primary{background-color: #18222b;border-color:#18222b;padding:14px 12px;}

.main{padding:80px 30px;}
.main h2{border-bottom: 1px solid #666; padding-bottom:15px; margin-bottom:15px;}
.main h4{margin-bottom:20px;}
h2 em{font-size:18px;}

.nav {margin-bottom: 0;padding-left: 0;list-style: none;}
.nav-tabs > li.active > a{color: #555555;background-color: #ffffff;border: 1px solid #dddddd;border-bottom-color: transparent;cursor: default;}
.nav-tabs > li > a {margin-right: 2px;line-height: 1.42857143;border-radius: 4px 4px 0 0;}
.nav > li > a {position: relative;display: block;padding: 10px 15px;}
.nav-tabs > li {float: left;margin-bottom: -1px;}