html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}
body {line-height: 1;}
ol, ul {list-style: none;}
/*清除ie input clear button*/
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

html {font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body {margin: 0;}
a {background-color: transparent;}
a:active,a:hover { outline: 0;}
b,strong {font-weight: bold;}
h1 {font-size: 2em;margin: 0.67em 0;}
img {border: 0;}
button,input,optgroup,select,textarea {color: inherit;font: inherit;margin: 0;}
button {overflow: visible;}
button,select {text-transform: none;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;}
button[disabled],html input[disabled] {cursor: default;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}
input {line-height: normal;}
input[type="checkbox"],input[type="radio"] {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto;}
input[type="search"] {-webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
textarea {overflow: auto;}
table {border-collapse: collapse;border-spacing: 0;}
td,th {padding: 0;}
@font-face {font-family: 'Glyphicons Halflings';src: url('../fonts/glyphicons-halflings-regular.eot');src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:before,*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html {font-size: 10px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;background-color: #ffffff;}
input,button,select,textarea {font-family: inherit;font-size: inherit;line-height: inherit;}
a {color: #337ab7;text-decoration: none;}
a:hover,a:focus {color: #23527c;text-decoration: underline;}
a:focus {outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
figure {margin: 0;}
img {vertical-align: middle;}
hr {margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 1px solid #eeeeee;}
hr {-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box;height: 0;}
h1,h2,h3,h4,h5,h6{font-family: inherit;font-weight: 500;line-height: 1.1;color: inherit;}
h1,h2,h3 {margin-top: 20px;margin-bottom: 10px;}
h4,h5,h6{margin-top: 10px;margin-bottom: 10px;}
h1{font-size: 36px;}
h2{font-size: 30px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
p {margin: 0 0 10px;}
ul,ol {margin-top: 0;}
ul ul,ol ul,ul ol,ol ol {margin-bottom: 0;}
dl {margin-top: 0;margin-bottom: 20px;}
dt,dd {line-height: 1.42857143;}
dt {font-weight: bold;}
dd {margin-left: 0;}
table {background-color: transparent;}
th {text-align: left;}
label {display: inline-block;max-width: 100%;}
input[type="search"] {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
input[type="radio"],input[type="checkbox"] {margin: 4px 0 0;margin-top: 1px \9;line-height: normal;}
input[type="file"] {display: block;}
input[type="range"] {display: block;width: 100%;}
select[multiple],select[size] {height: auto;}
input[type="file"]:focus,input[type="radio"]:focus,
input[type="checkbox"]:focus {outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
input[type="radio"][disabled],input[type="checkbox"][disabled],input[type="radio"].disabled,input[type="checkbox"].disabled,fieldset[disabled] input[type="radio"],fieldset[disabled] input[type="checkbox"] {cursor: not-allowed;}

.label {display: inline;padding: .2em .6em .3em;font-size: 75%;font-weight: bold;line-height: 1;color: #ffffff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;}

/*浮动*/
.pull-right {float: right !important;}
.pull-left {float: left !important;}

/*文本*/
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

/*清除浮动*/
.clearfix{clear:both;}
.clearfix:after,.dl-horizontal dd:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after,.btn-toolbar:after,.btn-group-vertical > .btn-group:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after,.pager:after,.panel-body:after,.modal-footer:after {clear: both;}

/*border*/
.br{border-right:1px solid #104d6a!important;}
.bl{border-left:1px solid #104d6a!important;}
.bt{border-top:1px solid #104d6a!important;}
.bb{border-bottom:1px solid #104d6a!important;}
.no-br{border-right:none!important;}
.no-bl{border-left:none!important;}
.no-bt{border-top:none!important;}
.no-bb{border-bottom:none!important;}

/*margin*/
.mt-1{margin-top:-1px;}
.ml-1{margin-left:-1px;}
.ml-2{margin-left:-2px;}
.mb-1{margin-bottom:-1px;}
.mr10{margin-right:10px;}
.mt10{margin-top:10px;}

/*padding*/
.pr10{padding-right:10px;}
.pt10{padding-top:10px;}