.clearfix:before,.clearfix:after,.dl-horizontal dd:before,.dl-horizontal dd:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.btn-toolbar:before,.btn-toolbar:after,.btn-group-vertical > .btn-group:before,.btn-group-vertical > .btn-group:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after,.pager:before,.pager:after,.panel-body:before,.panel-body:after,.modal-footer:before,.modal-footer:after {content: " ";display: table;}

.col-xs-1,.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,  .col-xs-7, .col-xs-8, .col-xs-9,  .col-xs-10,  .col-xs-11, .col-xs-12{position: relative;min-height: 1px;float: left;}
.col-xs-12 {width: 100%;}
.col-xs-11 {width: 91.66666667%;}
.col-xs-10 {width: 83.33333333%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.66666667%;}
.col-xs-7 {width: 58.33333333%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.66666667%;}
.col-xs-4 {width: 33.33333333%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.66666667%;}
.col-xs-1 {width: 8.33333333%;}

.col-xs-offset-12 {margin-left: 100%;}
.col-xs-offset-11 {margin-left: 91.66666667%;}
.col-xs-offset-10 {margin-left: 83.33333333%;}
.col-xs-offset-9 {margin-left: 75%;}
.col-xs-offset-8 {margin-left: 66.66666667%;}
.col-xs-offset-7 {margin-left: 58.33333333%;}
.col-xs-offset-6 {margin-left: 50%;}
.col-xs-offset-5 {margin-left: 41.66666667%;}
.col-xs-offset-4 {margin-left: 33.33333333%;}
.col-xs-offset-3 {margin-left: 25%;}
.col-xs-offset-2 {margin-left: 16.66666667%;}
.col-xs-offset-1 {margin-left: 8.33333333%;}
.col-xs-offset-0 {margin-left: 0%;}

.form-control {display: block;width: 100%;height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #ffffff;background-color: #0e5580;background-image: none;border: 1px solid #0e5580;border-radius: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.form-control:focus {border-color: #66afe9; outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);}
.form-control::-moz-placeholder {color: #999999;opacity: 1;}
.form-control:-ms-input-placeholder {color: #999999;}
.form-control::-webkit-input-placeholder {color: #999999;}
textarea.form-control {height: auto;}

.container {margin-right: auto;margin-left: auto;padding-left: 15px;padding-right: 15px;}
@media (min-width: 768px) {
  .container {width: 750px;}
}
@media (min-width: 992px) {
  .container {width: 970px;}
}
@media (min-width: 1200px) {
  .container {width: 1170px;}
}

.input-group {position: relative;display: table;border-collapse: separate;}

.btn-group{position: relative;display: inline-block;vertical-align: middle;}

/*表格状态栏*/
.am-state-grid-search{padding-left: 1px;padding-right:1px;}
.am-state-grid-search .dropdown-toggle{padding:11px;margin-right:0px;}
.am-state-grid-search button,.am-panel-btn .am-btn-group button{float:left; height: 44px; margin:-1px;}
.am-state-grid-search button:hover,
.am-state-grid-search button:active,
.am-state-grid-search button:focus{position: relative;}
.am-state-grid-search > div {margin: 0 1px}
.am-panel-btn .am-btn-group{margin-right:-12px;}
.am-state-modal{padding:0;}

/*状态栏*/
.am-state {min-height: 44px;}

