.ui-select .btn-primary: hover, .ui-select .btn-primary: hover, .ui-select .btn-primary: focus {border-color: #1c9dde; background-color: #0d5f91;}
.ui-select .btn-primary {background-color: #0e5580;border-color: #0e5580;}
.ui-select-menu-visible {display: block;}
.ui-select-menu {position: absolute;left: 0;top: 0;min-width: 60px;z-index: 9999;}
.ui-select-menu-color .active a {color: #333 !important;}
.ui-select .dropdown-menu,.ui-select-menu {border-color: #1c9dde;margin-top: -1px;overflow: hidden;background: #0d5f91;padding: 0;border-radius: 0;}
.ui-select.dropup .dropdown-menu,.ui-select-menu {margin: 0 0 -1px 0;}
.ui-select .dropdown-menu li,.ui-select-menu li {background-color: #0d5f91;}
.ui-select .dropdown-menu li a,.ui-select-menu li a {color: #fff;border-top-color: #0d5f91;border-bottom-color:#0d5f91;}
.ui-select .dropdown-menu .active,.ui-select-menu .active {background-color: #1488d1;}
.ui-select .dropdown-menu .active a,.ui-select-menu .active a {border-top-color:#1c9dde;border-bottom-color:#1c9dde;}
.ui-select .dropdown-menu li:hover a, .ui-select-menu li:hover a {background-color: #1488d1;border-color: #1488d1;color:#ffffff;}
.ui-select .dropdown-menu li: first-child.active a, .ui-select-menu li: first-child.active a {border-top-color: #1488d1;}