table.ui-grid.table-bordered > thead > tr > th,.table-bordered > tbody > tr > td ,.table-bordered > tfoot > tr > td{border: 1px solid;}
table.ui-grid tbody td {padding: 2px 8px;}
.ui-grid tbody tr td .ui-grid-cell{font-size: 12px;padding: 6px 0px;line-height: 20px;}
.ui-grid thead tr th{padding:0; border-right: 1px solid;}
.ui-grid thead tr th input.ui-input{padding:12px 10px; position: absolute; left:0;top:0; height: 100%}
.ui-grid .ui-grid-column-header .ui-grid-title{padding:13px 8px;}
/*Additional media blocks for IE*/
/* http://keithclark.co.uk/articles/moving-ie-specific-css-into-media-blocks/media-tests/ */
.ui-grid-startdrag,.ui-grid .ui-grid-startdrag .ui-grid-sort{cursor:col-resize}
/*分页*/
table.ui-grid tfoot td {padding: 0px;}
.ui-grid-pager-main li{float:left;list-style:none;}
.ui-grid-pager-main li a:hover{text-decoration:none;}
.ui-grid-pager-main li a:focus{text-decoration:none;}
.ui-grid-pager-add  {line-height: 40px;padding-left: 18px;}
.ui-grid-pager-main {height:40px;margin:0;}
.ui-grid-pager-main li a{padding:0 15px;line-height:41px;}
.ui-grid-pager-main .active{margin-left:-1px;}
.ui-grid-pager-main li  span,.ui-grid-pager-main li  strong{line-height:40px;}
.ui-grid-pager-main li  strong{padding:0 15px;}
.ui-grid-pager-main .pre-pager-btn {border-right: 1px solid;}
.ui-grid-pager-main .pre-pager-btn { border-left: 1px solid;}
.ui-grid-pager-main .pager-btn {border-left: 1px solid;}


