.ui-select .btn {border-radius: 0;padding: 4px 12px;text-align:left;}
.ui-select-menu-visible {display: block;}
.ui-select-menu {position: absolute;left: 0;top: 0;min-width: 60px;z-index: 9999;}
.ui-select .dropdown-menu,.ui-select-menu {margin-top: -1px;overflow: hidden;padding: 0;border-radius: 0;}
.ui-select.dropup .dropdown-menu,
.ui-select-menu {margin: 0 0 -1px 0;}
.ui-select .dropdown-menu li a,.ui-select-menu li a {padding: 0 13px;line-height: 29px;border-top: 1px solid ;text-decoration: none;border-bottom: 1px solid;margin: 0;display: block;text-align: left;}
.ui-select .dropdown-menu .active a,.ui-select-menu .active a {border-top: 1px solid ;border-bottom: 1px solid ;}
