.ui-tab-group {padding-left: 20px;}
.ui-tab-group .btn {float: left;border-left: 1px solid!important;border-right: 1px solid !important;border-radius: 0!important;margin-left: -1px;}
.ui-tab-group .btn-group{margin-bottom: -1px;}